.header {
  padding: 15px 16px;
  margin: 0 auto;
  align-items: center;
}

.header-left {
  align-items: center;
  width: 60%;
}

.header__logo {
  width: 120px;
  min-width: 120px;
  max-height: inherit;
  object-fit: contain;
}

.header-right {
  align-items: center;
}

.header-cart {
  position: relative;
  margin-left: 24px;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.header-cart__icon {
  font-size: 1.4rem;
  color: var(--rgba-primary-1-blur);
}

.header-cart__number {
  // position: absolute;
  // top: transformY(-50%);
  // right: -20px;
  color: white;
  padding: 2px 9px;
  background-color: red;
  margin-left: 12px;
}

.header-mobile__search {
  margin-left: 28px;
}