@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --rgba-primary-1: #4a2f81;
  --rgba-primary-1-blur: #945ca0;
  --background-input-1: #efefef;
  --color-header: #959595;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --rgba-primary-1: #4a2f81;
    --rgba-primary-1-blur: #945ca0;
    --background-input-1: #efefef;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: #f0f0f0; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .underline-text__run::after {
    display: none;
    content: '';
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: expandWidth 0.4s ease forwards;
  }

  .underline-text__run:hover::after {
    display: block;
  }

  .margin-left-right {
    margin: 0 auto;
  }
}

@keyframes expandWidth {
  0% {
    width: 0; /* Bắt đầu với width là 0% */
  }
  100% {
    width: 100%; /* Kết thúc với width là 100% */
  }
}
